<div class="date-card">
  <div class="date-header">
    <h3 class="date-title">{{reminder().description}}</h3>
    <z-badge zType="secondary" zShape="pill" class="text-sm p-4">{{reminder().reminderDate | dateCounter}}</z-badge>
  </div>

  @if (hasDescription()){
    <div class="date-body">
      <div class="date-date">
        <span class="material-icons">calendar_today</span>
        {{ reminder().reminderDate | date:'fullDate' }}
      </div>
      <p class="date-description">
        A faire
      </p>
    </div>

    <div class="date-footer">
      <z-button type="button">
        <span class="material-icons">edit</span>
      </z-button>
      <z-button type="button">
        <span class="material-icons">delete</span>
      </z-button>
    </div>
  } @else {
    <div class="date-body">
      <div class="date-date">
        <span class="material-icons">calendar_today</span>
        {{ reminder().reminderDate | date:'fullDate' }}
      </div>
    </div>
  }
</div>
