<form [formGroup]="treatmentForm" class="flex flex-col gap-4">
  <fieldset class="border p-4 rounded-md">
    <legend class="font-semibold text-gray-700">Informations du traitement</legend>

    <div class="grid gap-2">
      <label for="name" class="text-sm font-medium">Nom du traitement</label>
      <input z-input id="name" formControlName="name" placeholder="ex: Doliprane, Smecta..." />
      @if (treatmentForm.get('name')?.invalid && treatmentForm.get('name')?.touched) {
        <p class="error">Nom requis</p>
      }
    </div>

    <div class="grid gap-2">
      <label for="frequency" class="text-sm font-medium">Fréquence du traitement</label>
      <select z-input id="type" formControlName="frequency">
        <option value="" disabled>-- Sélectionnez une frequence --</option>
        @for (frequency of frequency.types; track $index) {
          <option [value]="frequency.name">
            {{ frequency.label }}
          </option>
        }
      </select>
      @if (treatmentForm.get('frequency')?.invalid && treatmentForm.get('frequency')?.touched) {
        <p class="error">Frequence requise requis</p>
      }
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="grid gap-2">
        <label for="beginDate" class="text-sm font-medium">Date du début du traitement</label>
        <input z-input id="beginDate" type="date" formControlName="beginDate" />
        @if (treatmentForm.get('beginDate')?.invalid && treatmentForm.get('beginDate')?.touched) {
          <p class="error">Date de debut requise</p>
        }
      </div>
      <div class="grid gap-2">
        <label for="endDate" class="text-sm font-medium">Date de fin du traitement</label>
        <input z-input id="endDate" type="date" formControlName="endDate" />
        @if (treatmentForm.hasError('dateLimitNoMatch') && treatmentForm.get('endDate')?.touched) {
          <p class="error">Date de fin ne peut-être inferieur à date du début</p>
        }
      </div>
    </div>

    <div class="grid gap-2">
      <label for="description" class="text-sm font-medium">Description / Notes</label>
      <textarea z-input id="description" formControlName="description" rows="3"></textarea>
    </div>
    @if (treatmentForm.get('description')?.invalid && treatmentForm.get('description')?.touched) {
      <p class="error">Description requise</p>
    }
  </fieldset>

  <fieldset formGroupName="reminder" class="border p-4 rounded-md mt-2">
    <legend class="font-semibold text-gray-700">Programmer un rappel</legend>

    <div class="flex flex-col mb-3">
      <label for="reminderType" class="text-sm font-medium">Type de rappel</label>
      <input
        id="reminderType"
        type="text"
        formControlName="type"
        class="border p-2 rounded"
        placeholder="Ex: Rappel annuel"
      />
      @if (treatmentForm.get('type')?.invalid && treatmentForm.get('Type')?.touched) {
        <p class="error">Type requis</p>
      }
    </div>

    <div class="flex flex-col mb-3">
      <label for="reminderDate" class="text-sm font-medium">Date du rappel</label>
      <input
        id="reminderDate"
        type="date"
        formControlName="reminderDate"
        class="border p-2 rounded"
      />
      @if (
        treatmentForm.hasError('dateLimitNoMatch') && treatmentForm.get('reminderDate')?.touched
      ) {
        <p class="error">La date de rappel ne peut-être inferieur à la date du début</p>
      }
    </div>

    <div class="flex flex-col mb-3">
      <label for="reminderStatus" class="text-sm font-medium">Statut</label>
      <select id="reminderStatus" formControlName="status" class="border p-2 rounded">
        <option value="PENDING">En attente</option>
        <option value="DONE">Réalisé</option>
        <option value="CANCELLED">Annulé</option>
      </select>
      @if (treatmentForm.get('status')?.invalid && treatmentForm.get('status')?.touched) {
        <p class="error">Status requis</p>
      }
    </div>
  </fieldset>
</form>
