.title {
  margin: 10px 50px;
  color: var(--secondary);
}
.parent {
  margin: 50px;
}

.my-animals {
  margin: 40px 60px;
}

.animal {
  padding: 0px;
}

.animal-infos {
  margin-left: 10px;
}
.nav-btn {
  font-size: large;
  padding-left: 50px;
}

button[z-button] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav-btn {
  font-size: large;
  padding-left: 50px;
}

button[z-button] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
