<div class="board">
  <div class="board-header">
    <h3 class="board-title">
      {{ title() }}
    </h3>
    <button type="button" z-button (click)="openDialogAdd()">
      <i z-icon zType="plus"></i>
      Ajouter une saisie
    </button>
  </div>

  <div class="board-content">
    @for (measure of measures().slice(0, 10); track measure.id) {
      <app-measure-resume-item
        [value]="measure.value.toString()"
        [date]="measure.creationDate"
        [type]="measure.measureType"
      ></app-measure-resume-item>
    }
  </div>
</div>
