<div class="treatment-item">
  <div class="item-top">
    <div class="text-block">
      <h3>{{ treatment().name }}</h3>
      <p class="label">Début du traitement : {{ treatment().beginDate | date: 'mediumDate' }}</p>
      <p class="label">Fin du traitement : {{ treatment().endDate | date: 'mediumDate' }}</p>
    </div>
  </div>
  <div class="item-bottom">
    <div class="text-block">
      <p class="label">Frequence</p>
      <p class="value">{{ treatment().frequency }}</p>
    </div>
    <div class="text-block">
      <p class="label">Description</p>
      <p class="value">{{ treatment().description }}</p>
    </div>
    <div class="text-block">
      <p class="label">Date de rappel</p>
      <p class="value">{{ treatment().reminder.reminderDate | date: 'mediumDate' }}</p>
    </div>
    <div class="button-container">
      <z-button type="button" (click)="openDialogModify()">
        <span class="material-icons">edit</span>
      </z-button>
      <z-button type="button" (click)="openDialogDelete()">
        <span class="material-icons">delete</span>
      </z-button>
    </div>
  </div>
</div>
