<div class="bg-card rounded-lg shadow-sm border info-card">
  <div class="flex items-center justify-between mb-4">
    <h3 class="font-medium text-lg">Rappel du mois</h3>
    <span class="px-2 py-1 text-md text-destructive bg-orange-100 rounded-full">
      {{ dashboardStore.reminders().totalElements }}
    </span>
  </div>
  <div class="dashboard-info">
    @if (dashboardStore.reminders().totalElements > 0) {
      <p class="mb-2">Vous avez {{ dashboardStore.reminders().totalElements | dashboardNotification: "rappel" }} rappel ce mois-ci</p>
    } @else {
      <p class="text-muted-foreground mb-2">Auccun rappel ce mois ci</p>
    }
  </div>
  <a z-button zType="link" routerLink="/reminder"> Accéder à mes rappels </a>
</div>
