<div class="bg-card rounded-lg shadow-sm border info-card">
  <div class="flex flex-row items-center justify-between gap-2 mb-4">    <h3 class="font-medium text-lg">Rappel du mois</h3>
    <span class="w-8 h-8 flex items-center justify-center text-sm text-destructive bg-orange-100 rounded-full">
      {{ dashboardStore.reminders().totalElements }}
    </span>
  </div>
  <div class="dashboard-info">
    @if (dashboardStore.reminders().totalElements > 0) {
      <p class="mb-2">
        Vous avez
        {{ dashboardStore.reminders().totalElements | dashboardNotification: 'rappel' }} rappel ce
        mois-ci
      </p>
    } @else {
      <p class="text-muted-foreground mb-2">Aucun rappel ce mois ci</p>
    }
  </div>
  <a z-button zType="link" class="block w-full !pl-0 mt-2" routerLink="/reminder">
    Accéder à mes rappels
  </a>
</div>
