<div class="bg-card rounded-lg shadow-sm border info-card">
  <div class="flex items-center justify-between mb-4">
    <h3 class="font-medium text-lg">Rappel</h3>
    <span class="px-2 py-1 text-md text-destructive bg-orange-100 rounded-full">
      {{ dashboardStore.reminders().totalElements }}
    </span>
  </div>
  <div class="dashboard-info">
    @if (dashboardStore.reminders().totalElements > 0) {
      @for (reminder of dashboardStore.reminders().content; track reminder.id) {
        <p class="">
          {{ reminderTypeMap[reminder.type] }}
        </p>
        <p class="text-sm text-muted-foreground mb-4">
          {{ reminder.reminderDate | date: 'dd/MM/yyyy' }}
        </p>
      }
    } @else {
      <p class="text-muted-foreground mb-2">Auccun rappel</p>
    }
  </div>
  <a z-button zType="link" routerLink="/"> Accéder à mes rappels </a>
</div>
