<div class="vaccine-item">
  <div class="item-top">
    <div class="text-block">
      <h3>{{ vaccine().name }}</h3>
      <p class="label">Date du vaccin : {{ vaccine().vaccineDate | date: 'mediumDate' }}</p>
    </div>
  </div>
  <div class="item-bottom">
    <div class="text-block">
      <p class="label">Vaccinateur</p>
      <p class="value">{{ vaccine().vaccinator }}</p>
    </div>
    <div class="text-block">
      <p class="label">Description</p>
      <p class="value">{{ vaccine().description }}</p>
    </div>
    <div class="text-block">
      <p class="label">Date de rappel</p>
      <p class="value">{{ vaccine().reminder.reminderDate | date: 'mediumDate' }}</p>
    </div>
    <div class="button-container">
      <z-button type="button" (click)="openDialogModify()">
        <span class="material-icons">edit</span>
      </z-button>
      <z-button type="button" (click)="openDialogDelete()">
        <span class="material-icons">delete</span>
      </z-button>
    </div>
  </div>
</div>
