<div class="calendar-container">
  <div class="toolbar">
    <div class="nav-button">
      <z-button
        type="button"
        mwlCalendarPreviousView
        [view]="view()"
        [(viewDate)]="viewDate"
        (click)="updateAgenda()"
      >
        <span class="material-icons">arrow_left</span>
        <span class="nav-text">Précédent</span>
      </z-button>
      <z-button type="button" zType="outline" mwlCalendarToday [(viewDate)]="viewDate">
        <span class="full-text">Aujourd'hui</span>
        <span class="short-text">Auj</span>
      </z-button>
      <z-button
        type="button"
        mwlCalendarNextView
        [view]="view()"
        [(viewDate)]="viewDate"
        (click)="updateAgenda()"
      >
        <span class="nav-text">Suivant</span>
        <span class="material-icons">arrow_right</span>
      </z-button>
    </div>

    <h2>{{ viewDate | calendarDate: view() + 'ViewTitle' : 'fr' }}</h2>

    <div class="format-button">
      <z-button
        type="button"
        [zType]="view() === CalendarView.Month ? 'default' : 'outline'"
        (click)="setView(CalendarView.Month)"
      >
        <span class="full-text">Mois</span>
        <span class="short-text">M</span>
      </z-button>
      <z-button
        type="button"
        [zType]="view() === CalendarView.Week ? 'default' : 'outline'"
        (click)="setView(CalendarView.Week)"
      >
        <span class="full-text">Semaine</span>
        <span class="short-text">S</span>
      </z-button>
      <z-button
        type="button"
        [zType]="view() === CalendarView.Day ? 'default' : 'outline'"
        (click)="setView(CalendarView.Day)"
      >
        <span class="full-text">Jour</span>
        <span class="short-text">J</span>
      </z-button>
    </div>
  </div>

  @switch (view()) {
    @case (CalendarView.Month) {
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events()"></mwl-calendar-month-view>
    }
    @case (CalendarView.Week) {
      <mwl-calendar-week-view [viewDate]="viewDate" [events]="events()"></mwl-calendar-week-view>
    }
    @case (CalendarView.Day) {
      <mwl-calendar-day-view [viewDate]="viewDate" [events]="events()"></mwl-calendar-day-view>
    }
  }
</div>
