.nav-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

h2 {
  margin-bottom: 16px;
  text-align: center;
}

.format-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 8px;
}

.add-button {
  margin-top: 16px;
}
