<section class="card">
  <div class="card-header">
    <div class="title-group">
      <span class="material-icons">medication</span>
      <h2>Traitements</h2>
    </div>
    <z-button type="button" class="add-treatment-btn" (click)="openDialogAdd()">
      <span class="material-icons">add</span>
      <span class="btn-text">Ajouter un traitement</span>
    </z-button>
  </div>

  <div class="vaccine-list treatment-list">
    @if (treatmentArray().length > 0) {
      @for (treatment of treatmentArray(); track $index) {
        <app-treatment-item [treatment]="treatment"></app-treatment-item>
      }
    } @else {
      <p class="empty-message">Aucun Vaccin</p>
    }
  </div>

  <div class="card-footer"></div>
</section>
