<form [formGroup]="form" class="grid gap-4 form-container">
  <div class="grid gap-1.5 form-field">
    <label
      for="reason"
      class="text-xs font-semibold uppercase tracking-wider text-gray-500 field-label"
      >Motif du rendez-vous</label
    >
    <input
      z-input
      id="reason"
      formControlName="reason"
      placeholder="ex: Consultation annuelle, Vaccin..."
      class="field-input"
    />
  </div>

  <div class="grid gap-1.5 form-field">
    <label
      for="dateTime"
      class="text-xs font-semibold uppercase tracking-wider text-gray-500 field-label"
      >Date et heure</label
    >
    <input
      z-input
      id="dateTime"
      type="datetime-local"
      formControlName="dateTime"
      class="field-input"
    />
  </div>

  <div class="grid gap-1.5 form-field">
    <label
      for="duration"
      class="text-xs font-semibold uppercase tracking-wider text-gray-500 field-label"
      >Durée (minutes)</label
    >
    <input
      z-input
      id="duration"
      type="number"
      formControlName="duration"
      placeholder="30"
      class="fiel-input"
    />
  </div>
</form>
