<form [formGroup]="form" class="grid gap-4">
  <div class="grid gap-1.5">
    <label for="reason" class="text-xs font-semibold uppercase tracking-wider text-gray-500"
      >Motif du rendez-vous</label
    >
    <input
      z-input
      id="reason"
      formControlName="reason"
      placeholder="ex: Consultation annuelle, Vaccin..."
    />
  </div>

  <div class="grid gap-1.5">
    <label for="dateTime" class="text-xs font-semibold uppercase tracking-wider text-gray-500"
      >Date et heure</label
    >
    <input z-input id="dateTime" type="datetime-local" formControlName="dateTime" />
  </div>

  <div class="grid gap-1.5">
    <label for="duration" class="text-xs font-semibold uppercase tracking-wider text-gray-500"
      >Durée (minutes)</label
    >
    <input z-input id="duration" type="number" formControlName="duration" placeholder="30" />
  </div>
</form>
