@if (isVisible()) {
  <header class="header" role="banner">
    <button type="button" (click)="toggleSidebar.emit()" class="mobile-burger">
      <span class="material-icons">menu</span>
    </button>
    <div class="header-right">
      <div class="user-profile" z-dropdown [zDropdownMenu]="menu">
        <span class="material-icons">account_circle</span>
        <span class="user-name">
          {{ user() ? user()!.firstName + ' ' + user()!.name : 'inconnue' }}
        </span>
        <div></div>
        <z-dropdown-menu-content #menu="zDropdownMenuContent" class="w-56">
          <z-menu-label>Mon compte</z-menu-label>

          <z-dropdown-menu-item (click)="onDashboard()">
            <span class="material-icons">dashboard</span>
            Tableau de bord
          </z-dropdown-menu-item>

          <z-dropdown-menu-item (click)="onSettings()">
            <span class="material-icons">settings</span>
            Paramètres
          </z-dropdown-menu-item>

          <z-dropdown-menu-item (click)="onLogout()">
            <span class="material-icons">logout</span>
            Déconnexion
          </z-dropdown-menu-item>
        </z-dropdown-menu-content>
      </div>
    </div>
  </header>
}
