.dashboard-info {
  background-color: #68a58624;
  border: 1px solid #68a69242;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: none;
  height: 100%;
}

.dashboard-info p {
  margin-bottom: 4px;
}

.info-card {
  padding: 16px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .info-card {
    padding: 20px;
  }
}
