<div class="bg-card rounded-lg shadow-sm border info-card">
  <div class="flex items-center justify-between mb-4">
    <h3 class="font-medium text-lg">Actualité</h3>
    <span class="px-2 py-1 text-md text-destructive bg-orange-100 rounded-full">
      {{ dashboardStore.notifications().totalElements }}
    </span>
  </div>
  <div class="dashboard-info">
    @if (dashboardStore.notifications().totalElements > 0) {
      @for (notification of dashboardStore.notifications().content; track notification.id) {
        <p class="truncate">{{ notification.title }}</p>
        <p class="text-sm text-muted-foreground mb-4">
          {{ notification.publishedAt | date: 'dd/MM/yyyy' }}
        </p>
      }
    } @else {
      <p class="text-muted-foreground mb-2">Auccun actualité</p>
    }
  </div>
  <a z-button zType="link" routerLink="/news"> accéder à aux actualités </a>
</div>
