<h1 class="title">Réinitialiser son mot de passe</h1>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label for="email">Email :</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Votre email"
      [attr.aria-invalid]="
        forgotPasswordForm.controls.email.invalid &&
        (forgotPasswordForm.controls.email.touched || forgotPasswordForm.controls.email.dirty)
          ? true
          : null
      "
      aria-describedby="email-error"
    />

    @if (forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.touched) {
      <p class="error" id="email-error">Email invalide</p>
    }
  </div>
  <button type="submit" [disabled]="forgotPasswordForm.invalid">Envoyer</button>
</form>
<p class="bottom">
  Vous vous souvenez de votre mot de passe ? <a routerLink="/login">Me connecter</a>
</p>
