<section>
  <div class="section-header">
    <h2>Mes Rendez-vous</h2>
  </div>

  <div class="section-body">
    @for (appointment of appointmentPage().content; track $index) {
      <app-date-card [date]="appointment" [hasDescription]="true"></app-date-card>
    }
  </div>

  @if (totalPages() > 1) {
    <div class="mt-8 flex items-center justify-between">
      <div class="flex items-center gap-2 text-sm text-gray-600">
        <span>
          Affichage {{ currentPage() * pageSize() + 1 }} -
          {{ Math.min((currentPage() + 1) * pageSize(), totalElements()) }}
          sur {{ totalElements() }} rappels
        </span>
      </div>

      <div class="flex gap-2">
        <button
          z-button
          zType="secondary"
          type="button"
          (click)="onPreviousPage()"
          [disabled]="currentPage() === 0"
          class="px-4 py-2 rounded-lg border bg-secondary text-sm disabled:opacity-50 disabled:cursor-not-allowed"
          aria-label="Page précédente"
        >
          <z-icon zType="chevron-left" />
          Précédent
        </button>

        <span class="px-4 py-2 text-sm"> Page {{ currentPage() + 1 }} / {{ totalPages() }} </span>

        <button
          z-button
          zType="secondary"
          type="button"
          (click)="onNextPage()"
          [disabled]="currentPage() === totalPages() - 1"
          class="px-4 py-2 rounded-lg border bg-secondary text-sm disabled:opacity-50 disabled:cursor-not-allowed"
          aria-label="Page suivante"
        >
          Suivant
          <z-icon zType="chevron-right" />
        </button>
      </div>
    </div>
  }
</section>
