<app-tab-bar [tabLinks]="tabLinks" (activeTab)="selectTab($event)"></app-tab-bar>

<div class="tab-content">
  @if (activeTab() === tabLinks[0].name) {
    <p>En cours de construction</p>
  } @else if (activeTab() === tabLinks[1].name) {
    <p>En cours de construction</p>
  } @else if (activeTab() === tabLinks[2].name) {
    <app-vaccines-section [healthRecord]="healthRecord()"></app-vaccines-section>
    <app-symptoms-section [healthRecord]="healthRecord()"></app-symptoms-section>
  } @else if (activeTab() === tabLinks[3].name) {
    <div class="container">
      @for (section of measureSectionArray; track $index) {
        <app-measure-section [measureSection]="section"></app-measure-section>
      }
    </div>
  }
</div>
