.dashboard-info {
  background-color: #68a58624;
  border: 1px solid #68a69242;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 10px;
}

h4,
p {
  padding: 5px 5px;
}

.info-card {
  padding: 20px;
}
