<div class="bg-card rounded-lg shadow-sm border info-card">
  <div class="flex flex-row items-center justify-between gap-2 mb-4">
    <h3 class="font-medium text-lg">Rendez-vous</h3>
    <span class="w-8 h-8 flex items-center justify-center text-sm text-destructive bg-orange-100 rounded-full">
      {{ dashboardStore.appointments().totalElements }}
    </span>
  </div>
  <div class="dashboard-info">
    @if (dashboardStore.appointments().totalElements > 0) {
      @for (appointment of dashboardStore.appointments().content; track appointment.id) {
        <p class="break-words line-clamp-1">{{ appointment.reason }}</p>
        <p class="text-sm text-muted-foreground mb-4">
          {{ appointment.dateTime | date: 'dd/MM/yyyy' }}
        </p>
      }
    } @else {
      <p class="text-muted-foreground mb-2">Aucun rendez-vous</p>
    }
  </div>
  <a z-button zType="link" class="block w-full !pl-0 mt-2" routerLink="/appointment">
    Accéder à mes rendez-vous
  </a>
</div>
