<form [formGroup]="vaccineForm" class="grid gap-4 p-4">
  <div class="grid gap-2">
    <label for="name" class="text-sm font-medium">Nom du vaccin</label>
    <input z-input id="name" formControlName="name" placeholder="ex: Maladie de Carré et Calicivirus..." />
    @if (vaccineForm.get('name')?.invalid && vaccineForm.get('name')?.touched) {
      <p class="error">Nom requis</p>
    }
  </div>

  <div class="grid gap-2">
    <label for="vaccinator" class="text-sm font-medium">Vaccinateur</label>
    <input
      z-input
      id="vaccinator"
      formControlName="vaccinator"
      placeholder="Nom du médecin ou centre"
    />
    @if (vaccineForm.get('vaccinator')?.invalid && vaccineForm.get('vaccinator')?.touched) {
      <p class="error">Nom du vaccinateur requis</p>
    }
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="grid gap-2">
      <label for="vaccinDate" class="text-sm font-medium">Date de vaccination</label>
      <input z-input id="vaccinDate" type="date" formControlName="beginDate" />
      @if (vaccineForm.get('beginDate')?.invalid && vaccineForm.get('beginDate')?.touched) {
        <p class="error">Date de vaccin requise</p>
      }
    </div>
    <div class="grid gap-2">
      <label for="vaccinReminderDate" class="text-sm font-medium">Date de rappel</label>
      <input z-input id="vaccinReminderDate" type="date" formControlName="reminderDate" />
      @if (
        vaccineForm.get('reminderDate')?.hasError('dateLimitReminderValidator') &&
        vaccineForm.get('reminderDate')?.touched
      ) {
        <p class="error">Date de rappel ne peut-être inferieur à date du vaccin</p>
      }
    </div>
  </div>

  <div class="grid gap-2">
    <label for="description" class="text-sm font-medium">Description / Notes</label>
    <textarea z-input id="description" formControlName="description" rows="3"></textarea>
  </div>

  <div class="flex justify-end space-x-2 mt-4">
    <z-button type="button" zType="ghost" (click)="closeDialog()"> Annuler </z-button>
    <z-button type="submit" [zDisabled]="!isValid()" (click)="validate()"> Enregistrer </z-button>
  </div>
</form>
